# Node
**/node_modules/
**/.env
*.log

# Flutter/Dart
app/build/
app/.dart_tool/
app/.flutter-plugins
app/.flutter-plugins-dependencies
**/*.iml
.idea/

# Secrets (Firebase / FCM) - KHÔNG commit khóa
**/secrets/
**/firebase-sa.json
**/google-services.json
**/GoogleService-Info.plist
app/lib/firebase_options.dart

# OS
Thumbs.db
.DS_Store
